legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  border: 0;
}

fieldset {
  border: none;
}

legend {
  border-bottom:1px solid #ffff;
}

.input-label {
  display: inline-block;
  min-width: 80px;
  margin-right: 20px;
}

.input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  display: inline-flex;
  flex-wrap: wrap;
  width: 40%;
  min-height: 50px;
  position: relative;
  background-color: #fff;
  margin: auto auto 10px auto;
}

.input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  background: transparent;
  border-style: none;
  width: 100%;
  text-indent: 20px;
  border: 1px solid #2d3447;
  font-family: inherit;
}

.input-area {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  background: transparent;
  border-style: none;
  width: 100%;
  text-indent: 20px;
  border: 1px solid #2d3447;
  resize: none;
  font-family: inherit;
}

.form-btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 40px;
  margin: auto;
  border-style:none;
  background: #555555;
}

.form-group {
  text-align: end;
}

/*INPUT NUMBER*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/*INPUT NUMBER*/