@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins-Regular.ttf');
}

body {
  background: #f4f4f4;
  font-family: Poppins-Regular;
}

a {
  font-size: 15px;
  line-height: 1.7;
  color: #cccccc;
  text-decoration: none;
  margin-top:10px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.7;
  color: #cccccc;
  text-decoration: none;
  margin-top:10px;
}

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.index-title {
  font-size: 45px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
  padding-top: 54px;
  margin:auto;
}

.index-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
  width: 650px;
  height: 600px;
  max-height: 80%;
  background: #2d3447;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.index-title-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 34%;
}

.info-text {
  width:100%;
  text-align:center;
  margin:5px 0px;
}

.divider {
    position:absolute;
    left:50%;
    top:39%;
    bottom:5%;
    border-left:1px solid white;
}

.welcome-container {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  width:43%;
  text-align: center;
  color: #fff;
}

#contact-modal {
  display:none;
  position:absolute;
  z-index:10;
  width:400px;
  height:400px;
  background: #f4f4f4;
  border:1px solid #2d3447;
  text-align: center;
  margin: 75px 125px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right:2px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
  z-index: 1;
  background-color: #f4f4f4;
  margin: auto;
  text-align:center;
}

.alert-danger {
  color: #a94442;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  border-color: #d6e9c6;
}