.login-form {
  width: 400px;
  margin: 20px auto auto auto;
}

.input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 75px;
  position: relative;
  background-color: #fff;
  margin: auto auto 10px auto;
}

.input-label {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 5px;
  left: 0;
  top: 30px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  background: transparent;
  border-style: none;
  text-indent: 20px;
  margin-top: 5px;
  font-family: inherit;
}

input.input {
  height: 100%;
  width: 100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .input-label {
  top: 10px;
  font-size: 13px;
}

.has-val + .input-label {
  top: 10px;
  font-size: 13px;
  color: #111111;
}

.login-btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50px;
  margin: auto;
  border-style:none;
  background: #555555;
}