<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/panel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FS - admin site</title>
</head>
<body>
<nav class="sidebar" id="sidebarId">
    <div class="logo-container">
        <h3>Football School</h3>
    </div>
    <div class="sidebar-category">
        <a class="sidebar-category-title">Coaches</a>
        <div class="sidebar-category-content">
            <a href="#" class="button button-sidebar button-sidebar-active"><i class="fa fa-caret-right"></i>List</a>
            <a href="#" class="button button-sidebar"><i class="fa fa-caret-right"></i>Membership fees</a>
        </div>
        <a class="sidebar-category-title">Teams</a>
        <div class="sidebar-category-content">
            <a href="#" class="button button-sidebar"><i class="fa fa-caret-right"></i>List</a>
        </div>
    </div>
</nav>
<div class="main">
    <header class="header">
        <p style="float:right;">Admin admin
            <a href="javascript:void(0)" onclick="user_menu_handler()"
               style="text-decoration:none;color:inherit; background-color:inherit;">
                <i class="fa fa-caret-down"></i>
            </a>
        </p>
    </header>
    <div id="user-menu">
        <div class="user-menu-content">
            <a href="#" class="button button-header">Account</a>
            <a href="#" class="button button-header">Log out</a>
        </div>
    </div>
    <div class="main-content">
        CONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENTCONTENT
    </div>
</div>
<script src="../js/user-menu.js"></script>
</body>
</html>
