<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" type="text/css" href="/css/index-style.css">
    <link rel="stylesheet" type="text/css" href="/css/panel.css">
    <link rel="stylesheet" type="text/css" href="/css/forms-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FS - admin site</title>
</head>
<body>
<div id="blackout" style="display:none;"></div>
<nav class="sidebar" id="sidebarId">
    <div class="logo-container">
        <h3>Football School</h3>
    </div>
    <div class="sidebar-category">
        <a class="sidebar-category-title">Coaches</a>
        <div class="sidebar-category-content">
            <a href="/admin/coaches-list" class="button button-sidebar"><em class="fa fa-caret-right"></em>List</a>
            <a href="/admin/coaches-add" class="button button-sidebar"><em class="fa fa-caret-right"></em>Add</a>
            <a href="javascript:forward_to_admin_fees()" class="button button-sidebar"><em
                    class="fa fa-caret-right"></em>Service fees</a>
        </div>
        <a class="sidebar-category-title">Teams</a>
        <div class="sidebar-category-content">
            <a href="/admin/teams-list" class="button button-sidebar"><em class="fa fa-caret-right"></em>List</a>
        </div>
    </div>
</nav>
<div class="main">
    <div class="alert alert-danger" th:if="${param.error}">
        Error during team editing
    </div>
    <header class="header">
        <div style="float:right;margin-bottom:16px;">
            <p style="display:inline;" th:text="${userName}">...</p>
            <p style="display:inline;"><a href="javascript:void(0)" onclick="user_menu_handler()"
                                          style="text-decoration:none;color:inherit; background-color:inherit;">
                <em class="fa fa-caret-down"></em></a>
            </p>
        </div>
    </header>
    <div id="user-menu">
        <div class="user-menu-content">
            <a href="/account" class="button button-header">Account</a>
            <a href="/logout" class="button button-header">Log out</a>
        </div>
    </div>
    <div class="main-content">
        <h1 th:text="${team.name}">...</h1>
        <div style="text-align:left; margin-left:30px;">
            <h3>Details</h3>
            <p th:text="'Address: ' + ${team.address}">...</p>
            <p th:text="'Manager: ' + ${manager.name} + ' ' + ${manager.surname}">...</p>
            <p th:text="'Number of players: ' + ${numberOfPlayers}">...</p>
            <h3>Staff</h3>
            <table class="table table-hover" style="width:80%; margin:auto; text-align:center;">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody class="clickable-row">
                <th:block th:each="teamCoach : ${teamCoaches}">
                    <tr th:onclick="'javascript:coachRowClicked(\'' + ${teamCoach.coach.id} + '\');'">
                        <td th:if="${teamCoach.coach.name}==null">-</td>
                        <td th:unless="${teamCoach.coach.name}==null"
                            th:text="${teamCoach.coach.name} + ' ' + ${teamCoach.coach.surname}">...
                        </td>
                        <td th:text="${teamCoach.coachPrivilege.name}">...</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div id="confirmation-modal">
            <span class="close" onclick="modalOff()">&times;</span>
            <form th:action="'/admin/teams-edit/delete/' + ${team.id}" method="post" style="width: 100%;">
                <legend>Are you sure you want to delete this team?</legend>
                <div class="form-btn-wrapper">
                    <div style="width: inherit;">
                        <button class="form-btn" style="width:150px;">Remove</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="display:flex; width:50%; margin:auto;margin-top: 50px;">
            <button class="form-btn" onclick="modalOn()" style="width:50%;">Remove</button>
        </div>
    </div>
</div>
<script src="/js/user-menu.js"></script>
<script src="/js/clickable-row.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>
