<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" type="text/css" href="/css/index-style.css">
    <link rel="stylesheet" type="text/css" href="/css/panel.css">
    <link rel="stylesheet" type="text/css" href="/css/forms-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FS - admin site</title>
</head>
<body>
<nav class="sidebar" id="sidebarId">
    <div class="logo-container">
        <h3>Football School</h3>
    </div>
    <div class="sidebar-category">
        <a class="sidebar-category-title">Team</a>
        <div class="sidebar-category-content">
            <a href="/coach/home" class="button button-sidebar"><em class="fa fa-caret-right"></em>Home</a>
            <a href="/coach/players" class="button button-sidebar"><em class="fa fa-caret-right"></em>Players</a>
            <a href="/coach/fixtures" class="button button-sidebar"><em class="fa fa-caret-right"></em>Fixtures</a>
        </div>
        <a class="sidebar-category-title">Manage</a>
        <div class="sidebar-category-content">
            <a href="/coach/manage" class="button button-sidebar"><em class="fa fa-caret-right"></em>Your team</a>
            <a th:href="'javascript:forward_to_coach_fees(' + ${currentTeamId} + ')'" class="button button-sidebar"><em
                    class="fa fa-caret-right"></em>Service fees</a>
        </div>
    </div>
</nav>
<div class="main">
    <div class="alert alert-success" th:if="${param.edited}">
        Account correctly edited
    </div>
    <div class="alert alert-danger" th:if="${param.error}">
        Problem occurred during updating account
    </div>
    <header class="header">
        <div style="float:right;margin-bottom:16px;">
            <p style="display:inline;" th:text="${userName}">...</p>
            <p style="display:inline;"><a href="javascript:void(0)" onclick="user_menu_handler()"
                                          style="text-decoration:none;color:inherit; background-color:inherit;">
                <em class="fa fa-caret-down"></em></a>
            </p>
        </div>
    </header>
    <div id="user-menu">
        <div class="user-menu-content">
            <a href="/account" class="button button-header">Account</a>
            <a href="/logout" class="button button-header">Log out</a>
        </div>
    </div>
    <div class="main-content">
        <h1>Account</h1>
        <div style="display: flex;margin-bottom: 40px;">
            <button id="pInformationBtn" class="form-btn"
                    style="width:20%;background:#cccccc;border: 1px solid #2d3447;color: #2d3447;"> Personal information
            </button>
            <button id="passwordBtn" class="form-btn"
                    style="width:20%;background:none;border: 1px solid #2d3447;color: #2d3447;"> Password
            </button>
        </div>
        <div style="display:flex; width:53%; margin:auto;">
            <form id="editForm" action="/account/edit" method="post" style="width: 100%;" th:object="${user}">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <div>
                        <label class="input-label">Name</label>
                        <div class="input-wrapper" style="width:70%">
                            <input type="text" placeholder="name" class="input" required="" th:field="*{name}">
                        </div>
                    </div>
                    <div>
                        <label class="input-label">Surname</label>
                        <div class="input-wrapper" style="width:70%">
                            <input type="text" placeholder="surname" class="input" required="" th:field="*{surname}">
                        </div>
                    </div>
                    <div>
                        <label class="input-label">Phone</label>
                        <div class="input-wrapper" style="width:70%">
                            <input type="number" placeholder="phone" class="input" required="" th:field="*{phone}"
                                   autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                        </div>
                    </div>
                </div>
                <div class="form-btn-wrapper">
                    <div style="width: inherit;">
                        <button id="save" class="form-btn" style="width:30%;">Save</button>
                    </div>
                </div>
            </form>
            <form id="editPasswordForm" action="/account/edit-password" method="post" th:object="${editPasswordObj}"
                  style="width: 100%; display:none;">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <div>
                        <label class="input-label">Old Password</label>
                        <div class="input-wrapper" style="width:70%">
                            <input type="password" placeholder="old password" class="input" required=""
                                   th:field="*{oldPassword}"
                                   autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                        </div>
                    </div>
                    <div>
                        <label class="input-label">New password</label>
                        <div class="input-wrapper" style="width:70%">
                            <input type="password" placeholder="new password" class="input" required=""
                                   th:field="*{newPassword}"
                                   autocomplete="off" readonly
                                   onfocus="this.removeAttribute('readonly');">
                        </div>
                    </div>
                    <div>
                        <label class="input-label">Repeat new password</label>
                        <div class="input-wrapper" style="width:70%">
                            <input type="password" placeholder="new password" class="input" required=""
                                   th:field="*{repNewPassword}" autocomplete="off" readonly
                                   onfocus="this.removeAttribute('readonly');">
                        </div>
                    </div>
                </div>
                <div class="form-btn-wrapper">
                    <button type="submit" id="delete" class="form-btn" style="width:30%;">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/user-menu.js"></script>
<script src="/js/account-tabs.js"></script>
</body>
</html>
