<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" type="text/css" href="/css/index-style.css">
    <link rel="stylesheet" type="text/css" href="/css/panel.css">
    <link rel="stylesheet" type="text/css" href="/css/forms-style.css">
    <link rel="stylesheet" type="text/css" href="/css/options-style.css">
    <link rel="stylesheet" type="text/css" href="/css/clickable-row.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FS - coach site</title>
</head>
<body>
<nav class="sidebar" id="sidebarId">
    <div class="logo-container">
        <h3>Football School</h3>
    </div>
    <div class="sidebar-category">
        <a class="sidebar-category-title">Team</a>
        <div class="sidebar-category-content">
            <a href="/coach/home" class="button button-sidebar"><em class="fa fa-caret-right"></em>Home</a>
            <a href="/coach/players" class="button button-sidebar button-sidebar-active"><em
                    class="fa fa-caret-right"></em>Players</a>
            <a href="/coach/fixtures" class="button button-sidebar"><em class="fa fa-caret-right"></em>Fixtures</a>
        </div>
        <a class="sidebar-category-title">Manage</a>
        <div class="sidebar-category-content">
            <a href="/coach/manage" class="button button-sidebar"><em class="fa fa-caret-right"></em>Your team</a>
            <a th:href="'javascript:forward_to_coach_fees(' + ${currentTeamId} + ')'" class="button button-sidebar"><em
                    class="fa fa-caret-right"></em>Service fees</a>
        </div>
    </div>
</nav>
<div class="main">
    <div class="alert alert-danger" th:if="${param.error}">
        Error during player creation
    </div>
    <div class="alert alert-success" th:if="${param.sent}">
        Player correctly added
    </div>
    <div class="alert alert-success" th:if="${param.deleted}">
        Player correctly deleted
    </div>
    <header class="header">
        <div class="custom-select" style="width:200px; display:inline-table;">
            <select>
                <option th:text="${currentTeam}">...</option>
                <th:block th:each="entry : ${teams}">
                    <option th:value="${entry.key}" th:text="${entry.value}">...</option>
                </th:block>
            </select>
        </div>
        <div style="float:right;margin-bottom:16px;">
            <p style="display:inline;" th:text="${userName}">...</p>
            <p style="display:inline;"><a href="javascript:void(0)" onclick="user_menu_handler()"
                                          style="text-decoration:none;color:inherit; background-color:inherit;">
                <em class="fa fa-caret-down"></em></a>
            </p>
        </div>
    </header>
    <div id="user-menu">
        <div class="user-menu-content">
            <a href="/account" class="button button-header">Account</a>
            <a href="/logout" class="button button-header">Log out</a>
        </div>
    </div>
    <div class="main-content">
        <h1>Players</h1>
        <h3 class="subtitle">Add new player</h3>
        <div style="margin: 20px auto;display: flex;width: 53%;">
            <form id="form-to-reset" th:action="@{/coach/player-add}" th:object="${newPlayer}" method="post"
                  style="width:100%">
                <fieldset>
                    <div class="form-group" style="text-align: end;">
                        <div>
                            <label class="input-label">Name</label>
                            <div class="input-wrapper" style="width:60%">
                                <input type="text" placeholder="name" class="input" required="" th:field="*{name}">
                            </div>
                        </div>
                        <div>
                            <label class="input-label">Surname</label>
                            <div class="input-wrapper" style="width:60%">
                                <input type="text" placeholder="surname" class="input" required=""
                                       th:field="*{surname}">
                            </div>
                        </div>
                        <div>
                            <label class="input-label">Year</label>
                            <div class="input-wrapper" style="width:60%">
                                <input type="tel" pattern="\d{4}" placeholder="year" class="input" required=""
                                       th:field="*{year}">
                            </div>
                        </div>
                        <div>
                            <label class="input-label">Parent's mail</label>
                            <div class="input-wrapper" style="width:60%">
                                <input type="email" placeholder="mail" class="input" required="" th:field="*{mail}">
                            </div>
                        </div>
                    </div>
                    <div class="form-btn-wrapper">
                        <button class="form-btn">Add</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <h3 class="subtitle" th:text="${currentTeam}">...</h3>
        <table class="table table-hover" style="width:80%; margin:auto;">
            <thead>
            <tr>
                <th>Player</th>
                <th>Year</th>
                <th>Mail</th>
            </tr>
            </thead>
            <tbody class="clickable-row">
            <th:block th:each="player : ${players}">
                <tr th:onclick="'javascript:playerRowClicked(\'' + ${player.id} + '\');'">
                    <td th:text="${player.name} + ' ' + ${player.surname}">...</td>
                    <td th:text="${player.year}">...</td>
                    <td th:text="${player.parent.mail}">...</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/user-menu.js"></script>
<script src="/js/clickable-row.js"></script>
<script src="/js/coach-options.js"></script>
</body>
</html>
