<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index-style.css">
    <link rel="stylesheet" type="text/css" href="/css/forms-style.css">
    <meta name="viewport" content="width=1024">
    <title>Football School</title>
</head>
<body>
<div class="main-container">
    <div class="alert alert-danger" th:if="${param.error}">
        Problem occurred during sending email
    </div>
    <div class="alert alert-success" th:if="${param.sent}">
        Check your email to find password reset link
    </div>
    <div class="index-container">
        <div class="index-title-img" style="background-image: url(/images/login-theme.png);">
            <span class="index-title">Football School</span>
        </div>
        <div class="welcome-container" style="margin: 0 auto; width:500px;">
            <form style="margin-top: 30px;" th:action="@{/forgotPassword}" method="post">
                <fieldset>
                    <legend style="color:#ffffff;">Forgot password?</legend>
                    <div class="form-group">
                        <div>
                            <label class="input-label">Your email</label>
                            <div class="input-wrapper" style="width:70%">
                                <input type="email" placeholder="email" class="input" required="" name="mail">
                            </div>
                        </div>
                    </div>
                    <div class="form-btn-wrapper">
                        <button id="send" name="send" class="form-btn" style="width:25%;">Send</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>