<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div class="main-container">
    <div class="index-container">
        <div class="index-title-img" style="background-image: url(../images/login-theme.png);">
            <span class="index-title">Football School</span>
        </div>
        <form class="login-form" action="#" th:action="@{/login}" method="post">
            <div class="input-wrapper">
                <input class="input" type="text" name="mail">
                <span class="input-label">Email</span>
            </div>
            <div class="input-wrapper">
                <input class="input" type="password" name="password">
                <span class="input-label">Password</span>
            </div>
            <div class="info-text" th:if="${param.error}">
                <a style="color:red;">Wrong email or password! Try again</a>
            </div>
            <div class="login-btn-wrapper">
                <button class="login-btn">Login</button>
            </div>
            <div class="info-text">
                <a href="#">Forgot password?</a>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="../js/login-form.js"></script>
</body>
</html>
