<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index-style.css">
    <meta name="viewport" content="width=1024">
    <title>Football School</title>
</head>
<body>
<div class="main-container">
    <div class="index-container">
        <div class="index-title-img" style="background-image: url(/images/login-theme.png);">
            <span class="index-title">Football School</span>
        </div>
        <p style="text-align: center;width: 100%;font-size: 24px;color:#fff;">You are not allowed to create team!
            <br/>Please contact administrator.
        </p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/login-form.js"></script>
</body>
</html>
