<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/forms-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div class="main-container">
    <div class="alert alert-danger" th:if="${param.error}">
        Invalid data! Please fill form correctly
    </div>
    <div class="index-container">
        <div class="index-title-img" style="background-image: url(../images/login-theme.png);">
            <span class="index-title">Football School</span>
        </div>
        <div class="welcome-container" style="margin: auto; width:450px;">
            <form action="#" style="margin-top: 30px;" method="post">
                <fieldset>
                    <legend style="color:#ffffff;">Registration</legend>
                    <div class="form-group">
                        <div>
                            <label class="input-label" for="name">Name</label>
                            <div class="input-wrapper" style="width:70%">
                                <input id="name" type="text" placeholder="name" class="input" required="">
                            </div>
                        </div>
                        <div>
                            <label class="input-label" for="surname">Surname</label>
                            <div class="input-wrapper" style="width:70%">
                                <input id="surname" type="text" placeholder="surname" class="input" required="">
                            </div>
                        </div>
                        <div>
                            <label class="input-label" for="mail">Mail</label>
                            <div class="input-wrapper" style="width:70%">
                                <input id="mail" type="email" placeholder="mail" class="input" readonly>
                            </div>
                        </div>
                        <div>
                            <label class="input-label" for="phone">Phone</label>
                            <div class="input-wrapper" style="width:70%">
                                <input id="phone" type="text" placeholder="phone" class="input">
                            </div>
                        </div>
                        <div>
                            <label class="input-label" for="password">Password</label>
                            <div class="input-wrapper" style="width:70%">
                                <input id="password" type="password" placeholder="password" class="input">
                            </div>
                        </div>
                    </div>
                    <div class="form-btn-wrapper">
                        <button id="send" name="send" class="form-btn" style="width:25%;">Register</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>