<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index-style.css">
    <link rel="stylesheet" type="text/css" href="/css/forms-style.css">
    <meta name="viewport" content="width=1024">
    <title>Football School</title>
</head>
<body>
<div class="main-container">
    <div class="alert alert-danger" th:if="${param.error}">
        Problem occurred during resetting password
    </div>
    <div class="index-container">
        <div class="index-title-img" style="background-image: url(/images/login-theme.png);">
            <span class="index-title">Football School</span>
        </div>
        <div class="welcome-container" style="margin: 0 auto; width:590px;">
            <form style="margin-top: 30px;" th:action="@{/resetPassword}" method="post">
                <fieldset>
                    <legend style="color:#ffffff;">Reset password</legend>
                    <div class="form-group">
                        <input type="hidden" name="token" th:value=${resetToken}>
                        <div>
                            <label class="input-label">New password</label>
                            <div class="input-wrapper" style="width:70%">
                                <input type="password" placeholder="new password" class="input" required=""
                                       autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
                                       name="password">
                            </div>
                        </div>
                        <div>
                            <label class="input-label">Repeat new password</label>
                            <div class="input-wrapper" style="width:70%">
                                <input type="password" placeholder="new password" class="input" required=""
                                       autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
                                       name="repPassword">
                            </div>
                        </div>
                    </div>
                    <div class="form-btn-wrapper">
                        <button id="send" name="send" class="form-btn" style="width:25%;">Reset password</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>